<!doctype html>
<html lang="it" ng-app="id3king">

<head>
    <meta charset="utf-8">

    <title>id3king JS</title>
    <meta name="description" content="id3king enhanced by javascript">
    <meta name="author" content="Luxor001">

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="scripts/app.js"></script>
</head>

<body ng-controller="dataController" >
    <div class="main">
        <div class="watermark" ng-if="openFiltersMenu"> </div>
        <div class="mainHeader">
            <div class="title">
                <h1>id3king JS</h1>
            </div>
            <div class="caption">
                Most famous trekking group made easy. Written in NodeJs, Angular and with <span class="normalFont">&#10084;</span>
            </div>
        </div>
        <div class="mainContainer">
            <div class="click filterOpener absolute" ng-click="openFiltersMenu = !openFiltersMenu">
                <div class="glyphicon glyphicon-filter middle">
                </div>
            </div>
            <header>
                <table ng-if="itinerari" class="table">
                    <thead>
                        <th class="w10 click">
                            <span class="fill click" ng-click="setOrderBy('ID')">ID</span>
                            <span class="glyphicon middleVertical click" ng-click="reverseOrdering('ID', $event)" ng-class="isOrderedBy('ID')"> </span>
                        </th>
                        <th class="w25 click">
                            <span class="fill click" ng-click="setOrderBy('Data')">DATA</span>
                            <span class="glyphicon middleVertical click" ng-click="reverseOrdering('Data', $event)" ng-class="isOrderedBy('Data')"> </span>
                        </th>
                        <th class="w20 click">
                            <span class="fill click" ng-click="setOrderBy('Durata')">DURATA</span>
                            <span class="glyphicon middleVertical click" ng-click="reverseOrdering('Durata', $event)" ng-class="isOrderedBy('Durata')"> </span>
                        </th>
                        <th class="w25 click">
                            <span class="fill click" ng-click="setOrderBy('Lunghezza')">LUNGHEZZA</span>
                            <span class="glyphicon middleVertical click" ng-click="reverseOrdering('Lunghezza', $event)" ng-class="isOrderedBy('Lunghezza')"> </span>
                        </th>
                        <th class="w20 click">
                            <span class="fill click" ng-click="setOrderBy('Dislivello')">DISLIVELLO</span>
                            <span class="glyphicon middleVertical click" ng-click="reverseOrdering('Dislivello', $event)" ng-class="isOrderedBy('Dislivello')"> </span>
                        </th>
                        <th class="w20 click">
                            <span class="fill click" ng-click="setOrderBy('Difficolta.value')">DIFFICOLTÁ</span>
                            <span class="glyphicon middleVertical click" ng-click="reverseOrdering('Difficolta.value', $event)" ng-class="isOrderedBy('Difficolta.value')"> </span>
                        </th>
                        <th class="w50 click">
                            <span class="fill click" ng-click="setOrderBy('NomeLocalita')">LUOGO</span>
                            <span class="glyphicon middleVertical click" ng-click="reverseOrdering('NomeLocalita', $event)" ng-class="isOrderedBy('NomeLocalita')"> </span>
                        </th>
                        <th class="w100">DESCRIZIONE</th>
                    </thead>
                </table>
            </header>
            <section>
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="itinerario in itinerari | trackFilter:filters | orderBy:orderings track by $index">
                            <td class="w10"><a ng-href="{{itinerario.Link}}">{{itinerario.ID | numberFixedLen:3}}</a></td>
                            <td class="w25">{{itinerario.Data | date:'dd-MM-yyyy'}}</td>
                            <td class="w20">{{itinerario.Durata | time}}</td>
                            <td class="w25">{{itinerario.Lunghezza / 1000}}&nbspKm</td>
                            <td class="w20">{{itinerario.Dislivello}}&nbspm</td>
                            <td class="w20">{{itinerario.Difficolta.Difficolta}}</td>
                            <td class="w50">{{itinerario.NomeLocalita}}</td>
                            <td class="w100 text-left">{{itinerario.Descrizione}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <aside class="pull-left">
        <nav>

        </nav>
        <filters-bar expand="openFiltersMenu">
           <header><h2>FILTERS</h2></header>
           <div class="adder relative"><span class="glyphicon glyphicon-plus click" ng-click="addFilter()"> </span> </div>

           <div class="filtersContainer">
             <filter-element ng-repeat="currentFilter in filters track by $index" filter="currentFilter" delete-function="deleteFilter" difficulty-types="difficultyTypes" places="toponimi">

             </div>
         </div>
        </filters-bar>
    </aside>
</body>

</html>
