* {
    font-family: 'Lato', sans-serif;
}
body {
    height: 100vh;
    overflow-y: hidden;
    padding-left: 15px;
}
.watermark {
    transition: background-color 500ms linear;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    z-index: 10001;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    width: calc(100% - 320px);
    height: 100%;
}
body> div {
    padding-right: 0 !important;
    height: 100%;
}
.mainHeader {
    height: 80px;
    border-bottom: 1px solid #eee;
}
.mainHeader .title {
    display: table-row;
    height: 55px;
}
.mainHeader .title> h1 {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}
.mainHeader .caption {
    font-size: 16px;
    font-style: italic;
}
th, td {
    text-align: center;
}
th {
    border-bottom: 0 !important;
    position: relative;
}
th .glyphicon-chevron-down, th .glyphicon-chevron-up {
    right: 0;
    z-index: 10001;
    font-size: 1.1em;
    margin-top: 2px;
}
th .glyphicon-chevron-up:hover, th .glyphicon-chevron-down:hover {
    opacity: 0.5;
}
th:hover:not(:last-child) {
    background: whiteSmoke;
}
.mainContainer {
    height: calc(100% - 80px);
    width: 100%;
}
.mainContainer section {
    width: 100%;
    height: calc(100% - 51px);
    overflow-y: scroll;
}
.mainContainer header {
    padding-top: 15px;
    overflow:hidden;
}
.mainContainer section, .mainContainer header {
    padding-right: 10px;
}
table {
    table-layout: fixed;
    margin-bottom: 0 !important;
}
div.main{
  max-width: calc(100% - 320px);
}
aside {
    height: 100%;
    width: 320px;
    padding-top;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 15px;
}
aside nav {
    border-left: 1px solid #eee;
    width: 100%;
    height: 100%;
}
.filterOpener {
    top: 10px;
    right: 350px;
    z-index: 10002;
    width: 20px;
    height: 30px;
}
.filterOpener:hover {
    opacity: 0.6;
}
.filterOpener .glyphicon {
    font-size: 1.8em;
    color: gray;
}

.filtersBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background: #whitesmoke;

   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;    /* Konqueror */
   -moz-user-select: none;      /* Firefox */
   -ms-user-select: none;       /* Internet Explorer/Edge */
   user-select: none;
}

.filtersBar .closebtn {
    position: absolute;
    top: 23px;
    left: 10px;
    font-size:1.8em;
    color: gray;
}
.filtersBar .closebtn:hover {
  opacity: 0.6;
}
.filtersBar header {
    height: 80px;
}
.filtersBar header h2 {
    color: gray;
    text-align: center;
}
.filtersBar .adder {
    height: 30px;
}
.filtersBar .adder > .glyphicon-plus {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 1.8em;
    color: darkGray;
}
.filtersBar .adder > .glyphicon-plus:hover {
    opacity: 0.6;
}
.filtersBar .filtersContainer {
    padding-top: 40px;
    padding-left: 25px;
}
.filtersBar .filtersContainer .dropdown{
  border-bottom: 1px solid lightgray;
  width: 100px !important;
}
.filtersBar .filtersContainer .caret{
  right: 0;
}
.filtersBar .filtersContainer button,
.filterElement input{
  background: transparent;
  color:gray;
  outline: 0;
  border: 0;
  font-size:1.1em;
  width:100%;
  box-shadow: none;
  -webkit-appearance: none;
  padding-left:10px;
  padding-top:6px;
  padding-bottom: 6px;
  padding-right: 20px;
}
.filtersBar .filtersContainer button:active:focus{
  background: transparent;
  color:gray;
  outline: 0;
}
.filterElement {
    min-height: 100px;
}
.filterElement .deleteElement{
    font-size: 1.6em;
    right: 5px;
    top: -15px;
    color: gray;
    position: absolute;
}
.filterElement .deleteElement:hover{
    opacity: 0.6;
}
.filterElement .operatorSelector {
    width: 34px;
    height: 34px;
    margin-left: 20px;
    font-size: 2.2em;
    color: gray;
    border-bottom: 1px solid lightGray;
}
.filterElement .operatorSelector:hover {
  opacity: 0.6;
}
.filterElement input:focus{
  border: 0;
  box-shadow: none;
}
.filterElement .inputValue{
  border-bottom: 1px solid lightgray;
  margin-left:15px;
}
.filterElement .inputValue .measureUnit{
  right:0;
  font-weight: bold;
  color: gray;
}

.filterElement .inputValue .hourIndicator{
  position: absolute;
  right: -10px;
  top: 9px;
  color: gray;
  font-size: 1.1em;
  font-weight: bold;
}

.filterElement .inputValue .hoursPicker{
  position: absolute;
  top: -20px;
}
.filterElement .inputValue .hoursPicker td a,
.filterElement .inputValue .hoursPicker td input{
  padding: 0;
}

.btn-link{
  color:gray;
}
.btn-link:focus{
  outline: 0;
}
.btn-link:active:focus{
  outline: 0;
}
.btn-link :hover{
  opacity: 0.6;
}

/*General uses*/
.noBorderBottom{
  border-bottom: 0 !important;
}
.click {
    cursor: pointer;
}
.middle {
    position: absolute;
    ;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.middleVertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.middleHorizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.preserve {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.normalFont {
    font-style: normal;
}
.fill{
  width: 100%;
  height: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}
.w0 {
    width: 0px !important
    min-width: 0px !important;
}
.w5 {
    width: 20px !important;
    min-width: 20px !important;
}
.w10 {
    width: 40px !important;
    min-width: 40px !important;
}
.w15 {
    width: 60px !important;
    min-width: 60px !important;
}
.w18{
  width: 72px !important;
  min-width: 72px !important;
}
.w20 {
    width: 80px !important;
    min-width: 80px !important;
}
.w25 {
    width: 100px !important;
    min-width: 100px !important;
}
.w30 {
    width: 120px !important;
    min-width: 120px !important;
}
.w35 {
    width: 140px !important;
    min-width: 140px !important;
}
.w40 {
    width: 160px !important;
    min-width: 160px !important;
}
.w45 {
    width: 180px !important;
    min-width: 180px !important;
}
.w50 {
    width: 200px !important;
    min-width: 200px !important;
}
.w100 {
    width: 400px !important;
    max-width: 400px !important;
    min-width: 400px !important;
}
